/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

body {
	background: tan;
}

.container {
	width: 100%;
	height: 100%;
}

/* Typography */

div, h1, h2, a {
	color: rgb(255,220,230);
}

a:hover {
	cursor: pointer;
}

.header h1 {
	position: fixed;
	top: 80px;
	width: 100%;
	font-family: 'Alegreya', serif;
	font-size: 150px;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	color: rgba(255,255,255,0.8);
	text-shadow: 0 0 20px rgb(255,220,230);
	z-index: -10;
}

.header h2 {
	width: 90%;
	margin-left: 5%;
	padding-top: 250px;
	padding-bottom: 80px;
	font-family: 'Alegreya', serif;
	font-size: 70px;
	text-align: center;
	border-bottom: 4px solid rgb(255,220,230);
}

.links,
.links a {
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 70px;
	font-weight: 300;
	line-height: 80px;
	text-align: left;
	text-decoration: none;
}

.links a:hover {
	font-size: 72px;
	font-style: italic;
}

.projects h1 {
	margin-bottom: 70px;
	font-family: 'Alegreya', serif;
	font-size: 100px;
	font-weight: 700;
	font-style: italic;
	text-align: center;
}

.projects a,
.projects h2 {
	font-family: 'Alegreya', serif;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

.date {
	margin-bottom: 20px;
}

.italic {
	font-style: italic;
}

.resume h1 {
	text-align: center;
	padding-left: 20px;
	font-family: 'Alegreya Sans', sans-serif;
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 44px;
	text-transform: uppercase;
}

.resume h2,
.resume h3 {
	text-align: justify;
	font-family: 'Alegreya', serif;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 8px;
}

.resume p {
	font-family: 'Alegreya', serif;
	font-size: 20px;
	line-height: 25px;
	font-style: italic;
	font-weight: 400;
}

.artist_statement h1 {
	width: 80%;
	margin-left: 10%;
	margin-top: 40px;
	text-align: justify;
	font-family: 'Alegreya', serif;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 8px;
}

.artist_statement h2 {
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	text-align: justify;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 20px;
}

/* IMG */

.old-photo {
	width: 20%;
	position: fixed;
	top: 110px;
	right: 30%;
	z-index: -100;
	box-shadow: 10px 10px 50px rgba(0,0,0,0.8);

}

.gif {
	width: 8%;
	position: fixed;
	bottom: 120px;
	right: 15%;
	z-index: 2;

}

.gif2 {
	width: 36%;
	position: fixed;
	top: 190px;
	left: 10%;
	z-index: -10;

}

/* Header */

.header {
	position: relative;
	width: 100%;
	z-index: -20;
}

.links {
	padding-top: 30px;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 0;
	/*border-bottom: 4px solid rgb(255,220,230);*/
	font-size: 55px;
	z-index: 100;
}

/* Projects */

.projects {
	position: relative;
	margin-top: 0;
	padding-top: 200px;
	width: 100%;
	background: none; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0,0,0,0) 5%, lightblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,0) 5%, lightblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,0) 5%, lightblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0,0,0,0) 5%, lightblue); /* Standard syntax */
	z-index: 1000;
	padding-bottom: 160px;
}

#image1 {
	display: none;
	position: absolute;
	bottom: 100px;
	left: 34%;
	width: 250px;
	z-index: -1;
}

#link1:hover #image1 {
	display: block
}

/* Resume */

.resume {
	position: fixed;
	overflow-y: scroll;
	top: 40px;
	width: 80%;
	bottom: 40px;
	left: -100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background: tan;
	box-shadow: 0 0 80px white;
	
	border-radius: 20px;
	-web-kit-border-radius: 20px;

	-webkit-transition: left 0.5s; /* Safari */
  transition: left 0.5s;

  z-index: 1000000;

}

.resume.open {
	left: 10%;
}

#close {
	position: fixed;
	top: 60px;
	right: 150px;
	width: 40px;
	height: 40px;
	display: none;
	background: url(../img/png/close.png);
}

#close:hover {
	cursor: pointer;
}

.tab1 {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 50px;
}

.tab2 {
	margin-bottom: 10px;
	padding-left: 60px;
}

.exhibition_name {
	padding-left: 20px;
}

/* Artist Statement */
.artist_statement {
	position: fixed;
	overflow-y: scroll;
	top: 40px;
	width: 80%;
	bottom: 40px;
	right: -100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background: tan;
	box-shadow: 0 0 80px white;
	
	border-radius: 20px;
	-web-kit-border-radius: 20px;

	-webkit-transition: right 0.5s; /* Safari */
  transition: right 0.5s;
  z-index: 1000000;

}

.artist_statement.open {
	right: 10%;
}

#close2 {
	position: fixed;
	top: 60px;
	right: 150px;
	width: 40px;
	height: 40px;
	display: none;
	background: url(../img/png/close.png);
}

#close2:hover {
	cursor: pointer;
}
