.project1,
.project2 {
  position: absolute;
  top: 100%;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  z-index: 100;
  
  -webkit-transtion: top 0.7s;
  transition: top 0.7s;

  
}

.project1 {
  background: white;
}

.project1 h1,
.project1 h2,
.project1 h3 {
  color: rgba(0, 100, 40, 1); /* Standard syntax */
}

.project2 {
  background: rgba(0, 100, 40, 1); /* Standard syntax */
}

.project2 h1,
.project2 h2,
.project2 h3 {
  color: white;
}



.project1.open,
.project2.open {
  top:0;
}

.test {
  height: 1000px;
}

#close1.visible,
#close2.visible {
  opacity: 1;
} 

#close1,
#close2 {
  position: fixed;
  top: 10px;
  left: 10px;
  display: none;
  font-family: 'Inconsolata', monospace;
  /*color: white;*/
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0;

  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#close1:hover,
#close2:hover {
  color: yellow;
  cursor: pointer;
}

.project1 h1, 
.project2 h1 {
  font-family: 'Proza Libre', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: 15px;
  line-height: 40px;
  margin-top: 120px;
  margin-bottom: 20px;
  /*color: white;*/
}

.project1 h2,
.project2 h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  /*color: white;*/
  margin-bottom: 90px;
}

.project1 h3,
.project2 h3 {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  /*color: white;*/
  margin-bottom: 50px;
}

.project1 img,
.project2 img {
  display: block;
  width: 700px;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 20px;
}